.App {
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  border-radius: 10px;
  border: solid 1px blueviolet;
  max-width: 600px;
}

h1 {
  font-family: "Source Pro", sans-serif;
  font-weight: bolder;
  font-size: 56px;
  margin-bottom: 30px;
}
