.Weather {
  display: block;
  font-family: "Trebuchet MS", sans-serif;
  text-align: left;
}
.Weather h2 {
  font-size: 48px;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 50px;
}

.Weather ul {
  list-style: none;
  margin-left: -20px;
  margin-top: 180px;
}

.Weather-Search {
  background-color: blueviolet;
  color: white;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
  border-color: blueviolet;
  cursor: pointer;
  box-shadow: 2px 4px, 4px, rgba(0, 0, 0, 0.3);
  margin-left: 8px;
}

.Enter-City {
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  border-color: blueviolet;
}

.Date {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.Temperature {
  font-size: 52px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 16px;
}

.WeatherIcon {
  padding-bottom: 16px;
}

.Unit {
  position: relative;
  top: -24px;
}
