.Weather {
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}
.Weather h2 {
  margin-left: 16px;
  margin-top: 50px;
}

.Weather ul {
  list-style: none;
  margin-left: -20px;
  margin-top: 20px;
}

.Weather-Search {
  background-color: blueviolet;
  color: white;
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  border-color: blueviolet;
  cursor: pointer;
  box-shadow: 2px 4px, 4px, rgba(0, 0, 0, 0.3);
  margin-left: 8px;
}

.Enter-City {
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  border-color: blueviolet;
}
